body{
    background-color: #393646;
}

.login{
  background-color: #4E6E81;
  display: block;
  padding: 105px;
  width: 21%;
  height: 28%;
  margin-top: -41%;
}
.registration{
  margin-left: 50%;
  background-color: rgba(157, 168, 239, 0.457);
  display: block;
  padding: 100px;
  width: 30%;
  height: 30%;
}
/* label{
  padding: 10px;
} */
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
